---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">        
    <!-- Main -->

    <h2 style="text-align: center">
        <a href="architecture.html">architecture</a>
          | 
        <a href="index.html"><i>all</i></a>
          | 
        <a href="horticulture.html">horticulture</a>
    </h2>

    <div id="main" data-exif='{{ site.exif }}' style="padding-left: 60px; padding-right: 60px;">
        {% for image in site.static_files %}
            {% if image.path contains 'fulls' %}
            <article class="thumb">
                <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                    <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" 
                        alt="{{image.name}}" 
                        data-name="{{ image.name }}"
                        style="object-fit:contain"/>
                </a>
                <!--<h2></h2>
                <p></p>-->
            </article>
            {% endif %}
        {% endfor %}
    </div>    
</div>
