<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<!--[if lte IE 8]>
<script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->

<!-- Header -->
<header id="header">
    <nav>
      <h2 style="display: flex; justify-content: center; display: flex; align-items: baseline ">
        <span  style="width:25%;">
                <a href="/projects">Projects</a>
        </span>
        <span style="width:50%; text-align: center; font-size: 2em;">
                <a href="/index.html">{{site.title}}</a>  
        </span>

          <span style="width:25%; text-align: right;">
          
                <a href="/info" >Info</span></a>
            
        </span>
    </h2>
    </nav>
</header>

